.page .section pre {
        white-space: pre-wrap;
}

.page .section pre>code {
        white-space: pre-wrap;
}

.pdf-header{
	display: none;
}

.pdf-footer {
	margin-top: 20px;
	padding-top: 10px;
	border: none;
	color: #aaa;
	text-align: center;
}

.pdf-footer .footer-pages-count {
	float: right
}

.module-list {
    zoom: 0.4;
	margin-top: -50px;
    margin-left: 0px;
	overflow: hidden;
    transform-origin: top;
}

.module-list-table-header td{
	font-weight: 700;
}

.white-space-nowrap{
	white-space: normal;
}